
body{
    background-color: blanchedalmond;
}


h1{
    background-color: lightcoral;
}

h2{
    background-color: lightsalmon;
}

p{
    background-color: lightseagreen;
}

#superintense{
    background-color: mediumslateblue;

}
.supernova
{
    background-color: mediumvioletred;
}

#menu
{
    background-color: lightcoral;
}


