@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Spacecrafts for 2035 To 2050</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (var spacecraft in Model.SpaceCrafts)
{
    <h2>
        @spacecraft.Name
    </h2>
}