fieldset{
    border-color:#a593c2;
    border-width: 3px;
    border-style:solid;
}

fieldset>legend{
    color:crimson
}

label{
    display:block;
    color:teal
}

#leftpanel
{
    float: left;
    width : 25%;
    height: 100%;
    margin-bottom: 20px;
}

#mainpanel
{
    float: right;
    width : 75%;
    height: 100%;
    margin-bottom: 20px;
}

#something{
    background-color:crimson;
}

nav{
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

input{
    border-radius: 2px;
    padding-bottom: 2px;
    padding-top:2px;
    
}

input:valid{
    border-color:green
}

input:invalid{
    border-color:red
}

body{
        margin-top:0px;
        font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: auto;
        margin-right: auto;
        background-color: aquamarine;
    }

table,td{
    border: 5px solid rebeccapurple;
    border-collapse: collapse;
    padding: 5px;
}