@page
@model CigarAndDrinksSelector.Pages.CigarsModel
@{
    ViewData["Title"] = "Cigar Selection 2020";
}


<div class="text-center">
    <h1 class="display-4">Staff Pick Cigars of 2020</h1>
    <table class="table">
        @foreach (var cig in Model.CigarsList)
        {
            <tr>
                <td>@cig.Company</td> 
                <td>@cig.Brand</td> 
                <td>@cig.Country</td>
                <td>@cig.YearofMfg</td>
            </tr>
        }
    </table>
    <p>Learn about <a href="https://www.cigarsinternational.com">Shop for these here</a>.</p>
</div>