@page
@model CigarAndDrinksSelector.Pages.LiquorsModel
@{
    //ViewData["Title"] = "Cigar Selection 2020";
    ViewData["Title"] = "Liqors 90 Pluse Rated 2020";
}

<div class="text-center">
    <h1 class="display-4">Staff Pick Alcohols 2020</h1>
    @Model.CustomMessage <br>
    @Model.Brands <br />

    <p>Learn about <a href="https://www.acespirits.com">Shop for these here</a>.</p>
</div>