/*
   Simple Base Stylesheet - https://fvsch.com/base-stylesheet/
   Helps makes browser default styles more consistent. Updated: 2011-10-02.
*/
body {margin: 0; padding: 0; font-size: 100%; line-height: 1.5}
h1, h2, h3, h4 {margin: 1em 0 .5em; line-height: 1.25}
h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.2em}
ul, ol {margin: 1em 0; padding-left: 40px}
p, figure {margin: 11em 0}
a img {border: none}
#grad {   background-image: linear-gradient(to bottom right, red, yellow); }
sup, sub {line-height: 0}