@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<Product2020 title="ferrari" description="33333"/>
<br />
<SajProj20  data1="444" data2=444 data3=" 5555"/>
<SajProj20 />
<div>
    <Planets/>
</div>


