@inject HttpClient Http
    <div>
       @if (locplanRequest == null)
       {
           <div> Loading Planets ...stand by. ...</div>

           locplanRequest.results[0].Name = "Mercury";
           locplanRequest.results[0].Name = "Venus";
           locplanRequest.results[0].Name = "Earth";


           @foreach (var planet in locplanRequest.results)
           {
               <div>@planet.Name</div>
           }
       }
       else
       {
           <div>
               @foreach (var planet in locplanRequest.results)
               {
                   <div>@planet.Name</div>
               }
           </div>
       }
    </div>

    @code
    {
        PlanetRequest locplanRequest = null;

        protected override async Task OnInitializedAsync()
        
        {
            locplanRequest = new PlanetRequest();
 
            locplanRequest = await Http.GetFromJsonAsync<PlanetRequest>("https://thawing-savannah-59760.herokuapp.com/api/v1/planet/getAllPlanets");
           
        }


        public class PlanetRequest
        {
            public Planet[] results {get; set;}
        }

        public class Planet
        {
            public string Name {get; set;}
         }
    }
