<h3>Product2020</h3>
<h2>@title</h2>
<dive>@description</dive>

@code {

    [Parameter]
    public string title { get; set;} ="Some details of new Product line 20202";

    [Parameter]
    public string description { get; set;} = "LEGO MINDSTORM 2020 June SPECIAL";
}
