<h2>@data1</h2>
<h3>@data2</h3>
<h4>@data3</h4>

@code {

    [Parameter]
    public string data1 {get; set;} = "SAN FRAN SOD";

    [Parameter]
    public int data2 {get; set;} = 2220;


    [Parameter]
    public string data3 {get; set; } = "New Orleans GOM";


}
