body {
  font-size: 16px;
  color: cornflowerblue;
  background-color:blanchedalmond;
  font-family: 'Oxygen', sans-serif;
}

h2, h3{
  text-align: center;
}

/** HEADER **/
#header-nav {
  background-color: slategrey;
  border-radius: 0;
  border: 0;
}

#logoImage {
    background: url('../images/food-logo-templates-cover.png') no-repeat;
    width: 250px;
    height:150px;
    margin: 5px;        
}

.navbar-brand {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-brand h1 { /* Restaurant name */

   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:seagreen;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;    
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
  margin-bottom:  15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}


#navList
{
 margin-top: 30px;  
 background:lightsteelblue;
}

#navList a{
   color: purple;
   text-align: center;
}

#navlist a:hover{
   background:violet;

}

#navlist a span{
  font-size: 1.8em;
}

#phone a{
   text-align: right;
   padding-bottom: 0;
}

#phone div{
  color:seagreen;
  text-align:right;
  font-size:0.8em;
  padding-right: 1px;
}

.navbar-header button.navbar-toggle
{
   clear:both;
}

#chickenid
{
  background:coral;
  color:darkslategrey;
  margin : 10px;
}

#beefid
{
  background: brown;
  color:darkslateblue;
  margin: 10px
}

#sushid
{
  background: lightcyan;
  color: darkolivegreen;
  margin: 10px;
}


.row 
{
  background: palegreen;
}


/** large devices **/
@media (min-width: 1200px)
{
  .jumbotron {
    background: url('../images/LargeFerrari_125S.png') no-repeat;
    height : 420px;
    margin-top: 80px;
    margin-left: 80px;
    box-shadow: 0 0 20px red;
  }

}

/** medium devices **/
@media (min-width: 992px) and (max-width: 1199px)
{
  #logoImage
  {
     background:url('../images/food-logo-templates-coverMed.png') no-repeat;
     width: 110px;
     height: 85px;
     margin: 3px 3px 3px 0;
  } 

  .container .jumbotron {
    background: url('../images/MediumFerrari_125S.png') no-repeat;
    height : 220px;
    margin-top: 20px;
    margin-left: 220px;
    box-shadow: 0 0 20px greenyellow;
  }
}

.container .jumbotron
{
  border: 2px solid  indigo
}


/** small devices **/
@media (min-width: 768px) and (max-width: 991px)
{
  .container .jumbotron {
    background: url('../images/MediumFerrari_125S.png') no-repeat;
    height : 220px;
    margin-top: 20px;
    margin-left: 220px;
    box-shadow: 0 0 20px greenyellow;
    ;
  }

}

/** extra small devices **/
@media (max-width: 767px)
{
   .navbar-brand
   {
      padding-top: 10px;
      height:80px;
   }
   .navbar-brand h1{
     padding-top: 10px;
     font-size: 5vw;
   }
  
   .navbar-brand p{
     font-size: 0.6em; 
     margin-top: 12px;
   }  

   #collapsable-nav a 
   {
      font-size: 1.2em;
   }
 
    
   #collapsable-nav a span{
     font-size: 1em;
   }

}