       body
       {
          background-color: lightslategray;
       }
       section li   
       {
         color : green;
       }
       
       section li:hover   /* pseudo class selector */
       {
         background-color: yellow;
         color: red;
       }
       
        article li
       {
         color: darkviolet;
       }
       
       article li:hover          /* Pseudo class selector */
       {
         background-color:  lightyellow;
         color: black;
         text-decoration: none;
       }
       
       article li:nth-child(2)
       {
         font-size: 33px;
       }
       
       article li:nth-child(odd)
       {
         background-color: yellow;
       }
       
       article li:nth-child(4):hover
       {
         background-color : lightgreen;
         cursor : pointer;
       }