body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav{
  background-color: #f6b319;;
  border-radius: 0;
  border: 0;
}

.container .jumbatron {
   box-shadow: 0 0 50px coral;
   border: 2px solid  salmon;
}

#nav-icon, #nav-icon2, #nav-icon3
{
  height: 150px;
  width: 200px;
  margin-bottom:  15px;
    position: relative;
  border: 2px solid aquamarine;
  overflow: hidden;
}

#nav-icon span , #nav-icon2 span , #nav-icon3 span 
{
  position: absolute;
  bottom: 0;
  right:0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: bisque;
  opacity: 0.75;
}

#nav-icon
{
  background: url('/images/menu-tile.jpg');
  background-position: center;
}

#nav-icon2
{
  background: url('/images/specials-tile.jpg');
  background-position;
}


.panel-footer{
  margin-top: 30px;
  padding-top: 35px;
  background-color:darkolivegreen;
}
