@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<form  methods="get">
    <label> Testing</label>
    <div class ="form-group">
        <input type="search" class="form-control" value=""/>
        <span class="input-group-btn">
            <button class="btn btn-dark">
                <i class="glyphicon"></i>
            </button>
        </span>
    </div>
</form>

<p>Use this page to detail your site's privacy policy.</p>
