
body{
    background-color: blanchedalmond;
}


h1{
    background-color: lightcoral;
}

h2{
    background-color: lightsalmon;
}

p{
    background-color: lightseagreen;
    font-size: 16pt;
    border-style: groove;
    
}

#superintense{
    background-color: mediumslateblue;
    border-style: dashed;
    border-color: yellowgreen;

}
.supernova
{
    background-color: mediumvioletred;
}

#menu
{
    background-color: lightcoral;
}


